@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.img {
    padding-left: 2rem;
    width: 30%;
}
.img img {
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    padding: 1rem, 1rem;
    padding-top: 1rem;
}

a {
    text-decoration: none;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    height: 40vh;
}

.btn.contactez {
    background-color: #FF4676;
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

.titre {
    text-align: center;
    padding: 0;
    margin: 0;
}
.notre-approche {
    width: 70%;
}
.approche-content {
    display: flex;
    width: 60% auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.approche-content img {
    width: 40%;
}

.approche-vous {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.approche1 p {
    line-height: 70%;
    width: 80%;
}

.approche1.bot {
    padding-bottom: 2rem;
}

.approche1 p::before {
    content: "-";
    padding-right: 5px;
}

#ligne {
    margin: 5rem;
    display: flex;
    justify-content: center;
}

#savoir {
    color: #FF4676;
    border: 1px solid #FF4676;
    padding: 0.5rem;
    border-radius: 5px;
}

#methode {
    width: 30% auto;
}

.methode-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.met-cont {
    width: 15%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 3rem;
    text-align: center;
}

#accompagnements {
    margin-top: 10rem;
}

.accomp-content {
    display: flex;
    width: 70% auto;
    justify-content: center;
    text-align: center;
    gap: 15rem;
    line-height: 100%;
    margin-top: 3rem;
}

.pepp {
    position: relative;
    z-index: 2;
}

.pepp:after {
    content: "";
    width: 200px;
    height: 15px;
    display: block;
    background-color: #68d8ee;
    z-index: -5;
    position:absolute;
    bottom: 1%;
    
}

/* yellow: #FFE17A
purple: #DB7CF2 */

.temoins {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.carte {
    border: 1px solid #68d8ee;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.nom {
    line-height: 20%;
    margin-top: 1rem;
}

.temoin-img {
    margin-bottom: 2rem;
    overflow-y: visible;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 3%;
    right: 22%;
}

.temoin-img img {
    width: 70%;
}

.blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.article {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 1rem;
}

.superpouvoir-img{
    width: 50%;
    overflow: hidden;
}
.superpouvoir-img.ensemble {
    width: 70%;
}

.superpouvoir-img img {
    height: 100%;
    padding-right: 3rem;
}

.article-content:after {
    content: "";
    height: 3px;
    width: 100%;
    border-bottom: 1px solid #68d8ee;
    display: block;
}

.footer {
    background-color: rgba(195, 191, 191, 0.568);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    padding-top: 3rem;
}

.topfoot {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 30rem;
}

.contactez-nous {
    border-left: 2px solid black;
    padding-left: 2rem;
    width: 60%;
}
.block {
    display: block;
}

.botfoot {
    display: flex;
}
.bar {
    border-left: 2px solid rgb(0, 0, 0);
    padding-left: 1rem; 
}


@media screen and (max-width: 760px) {
    .header {
        flex-direction: column;
        align-items: center;
        font-size: 26px;
    }
    
    ul {
        display: flex;
        flex-direction: column;
    }
    .img {
        padding-left: 2rem;
        width: 20%;
    }
    .banner {
        height: 50vh;
    }
    
    h1 {
        font-size: 30px;
        width: 95%;
    }
    
    .notre-approche {
        width: 90% auto;
    }
    .approche-content {
        flex-direction: column;
        width: 100%;
        gap: 3rem;
    }
    
    .approche-content img {
        width: 80%;
    }
    
    .approche-vous {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    h3 {
        font-size: 20px;
        width: 100%;
    }
    
    .approche1 p {
        line-height: 90%;
        width: 90%;
    }
    
    .approche1.bot {
        padding-bottom: 0;
    }

.met-cont {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
}

.accomp-content {
    flex-wrap: wrap;
    flex-direction: column;
    width: 80% auto;
    gap: 4rem;
}

.pepp {
    position: relative;
    z-index: 2;
}

.pepp:after {
    content: "";
    width: 200% auto;
    height: 10px;
    bottom: -30%;
    left: 37%;
}

.temoin-img {
    right: 5%;
}

.blog-content {
    gap: 3rem;
}

.article {
    flex-direction: column;
    width: 90%;
    gap: 0;
}

.superpouvoir-img{
    width: 90%;
    overflow: hidden;
}
.superpouvoir-img.ensemble {
    width: 90%;
}

.article-content:after {
    content: "";
    margin-top: 3rem;
}

.footer {
    gap: 2rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

.topfoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 0rem;
}

.contactez-nous {
    border-left: 0px solid black;
    text-align: center;
    padding: 0;
}

.botfoot {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}
.bar {
    border-left: 0px solid rgb(0, 0, 0);
    padding-left: 0rem; 
    text-align: center;
}

}


@media screen and (max-width: 400px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    
    ul {
        display: flex;
        flex-direction: column;
    }
    .img {
        padding-left: 2rem;
        width: 30%;
    }
    .banner {
        height: 50vh;
    }
    
    h1 {
        font-size: 30px;
        width: 95%;
    }
    
    .notre-approche {
        width: 90% auto;
    }
    .approche-content {
        flex-direction: column;
        width: 100%;
        gap: 3rem;
    }
    
    .approche-content img {
        width: 80%;
    }
    
    .approche-vous {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    h3 {
        font-size: 20px;
        width: 100%;
    }
    
    .approche1 p {
        line-height: 90%;
        width: 90%;
    }
    
    .approche1.bot {
        padding-bottom: 0;
    }

.met-cont {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
}

.accomp-content {
    flex-wrap: wrap;
    width: 80% auto;
    gap: 4rem;
}

.pepp {
    position: relative;
    z-index: 2;
}

.pepp:after {
    content: "";
    width: 200% auto;
    height: 10px;
    bottom: -30%;
}


.temoins {
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: -3rem;
}

.carte {
    width: 80%;
}

.temoin-img {
    right: 27%;
}

.blog-content {
    gap: 3rem;
}

.article {
    flex-direction: column;
    width: 90%;
    gap: 0;
}

.superpouvoir-img{
    width: 90%;
    overflow: hidden;
}
.superpouvoir-img.ensemble {
    width: 90%;
}

.article-content:after {
    content: "";
    margin-top: 3rem;
}

.footer {
    gap: 2rem;
    margin-top: 1rem;
    padding-top: 1rem;
}

.topfoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 0rem;
}

.contactez-nous {
    border-left: 0px solid black;
    text-align: center;
    padding: 0;
}

.botfoot {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}
.bar {
    border-left: 0px solid rgb(0, 0, 0);
    padding-left: 0rem; 
    text-align: center;
}

}
