@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.img {
    padding-left: 2rem;
}
.img img {
    width: 50%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    padding: 1rem, 1rem;
    
}

a {
    text-decoration: none;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    height: 40vh;
}

.btn.contactez {
    background-color: #FF4676;
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

.titre {
    text-align: center;
    padding: 0;
    margin: 0;
}
.notre-approche {
    width: 70%;
}
.approche-content {
    display: flex;
    width: 60% auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.approche-content img {
    width: 30%;
}

.approche-conten::after {
    width: 20% auto;
}

.approche-vous {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.approche1 p::before {
    content: "-";
    padding-right: 5px;
}

#ligne {
    margin: 3rem;
    display: flex;
    justify-content: center;
}

#savoir {
    color: #FF4676;
    border: 1px solid #FF4676;
    padding: 0.5rem;
    border-radius: 5px;
}

#methode {
    width: 30% auto;
}

.methode-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.met-cont {
    width: 15%;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 3rem;
    text-align: center;
}

#accompagnements {
    margin-top: 10rem;
}

.accomp-content {
    display: flex;
    width: 70% auto;
    justify-content: center;
    text-align: center;
    gap: 15rem;
    line-height: 100%;
    margin-top: 3rem;
}

.pepp {
    position: relative;
    z-index: 2;
}

.pepp:after {
    content: "";
    width: 200px;
    height: 15px;
    display: block;
    background-color: #68d8ee;
    z-index: -5;
    position:absolute;
    bottom: 1%;
    
}

/* yellow: #FFE17A
purple: #DB7CF2 */

.temoins {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.carte {
    border: 1px solid #68d8ee;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.article {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 4rem;
}

#superpouvoir-img{
    max-width: 15vw;
    max-height: 15vh;
    height: 15vh;
}
.article img {
    object-fit: cover;
}
.article-content:after {
    content: "";
    height: 3px;
    width: 100%;
    border-bottom: 1px solid #68d8ee;
    display: block;
}

.footer {
    background-color: rgba(128, 128, 128, 0.568);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    padding-top: 3rem;
}

.topfoot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contactez-nous {
    border-left: 2px solid black;
    padding-left: 2rem;
}
.block {
    display: block;
}

.botfoot {
    display: flex;
}
.bar {
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 2rem;
}